<div class="demo-headline">
<?php if (isset($h_total) AND !empty($h_total)) { echo '现已收录<span style="color:red">' . number_format($h_total) . '</span>条磁力种子(5 min 刷新)'; }; ?>
    <h1 class="demo-logo">
        <div style="width: 50%;margin:0px auto 24px" class="row">
			<form method="get" action="{:U('Home/Index/kw')}" id="kwform">
            <div class="col-xs-9">
                <input type="text" value="" id="kw" name="kw" baiduSug="1" placeholder="输入你要搜索的内容...." class="form-control">
            </div>
            <div class="col-xs-3">
                <button href="#fakelink" type="submit" class="btn btn-block btn-lg btn-inverse" onclick="sub()">搜索</button>
            </div>
			</form>
			<script>
			function sub(){
				var kw = $("#kw").val();
				if (kw == "") { return false; }
				do_sub(kw);
			}
			function do_sub(kw)
			{
				window.location.href = "/Home/Index/kw?kw=" + kw;
			}
			</script>
        </div>

        <div style="width: 60%;margin:0px auto 24px" class="row">
            <if condition="!empty($tag_list)">
                <volist name="tag_list" id="vo">
                    <div class="col-xs-3 tags"><a href="#fakelink" class="btn btn-block btn-sm btn-inverse">{$vo.name}</a></div>
                </volist>
            </if>
        </div>
    </h1>
</div>

